[defaults]
nocows = yes
stdout_callback = ansible.builtin.default
callback_result_format = yaml
bin_ansible_callbacks = yes
retry_files_enabled = no
inject_facts_as_vars = no
deprecation_warnings = no

[ssh_connection]
scp_if_ssh = yes
